.fancy-header{
    color:purple;
}

body {
    background-color: azure;
    background-image: url("../img/noise-article.png");
    font-family: monospace;
    border: none;
}

ul li {
    list-style-image: url("../img/bullet.png");
}

header h1 {
    text-align: center;
}

h2,
h3 {
    color: #009100;
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-family: "BD Geminis", Serif;
}

hr {
    height: 5px;
    background-color: gray;
}

#vision-img img{
    border-radius: 10%;
}

#product-info {
    background-color: blanchedalmond;
    border: 2px solid black;
    width: 400px;
}

#product-info * {
    padding: 10px;
}

#product-info th{
    background-color: burlywood;
}
#product-info th:hover{
    background-color: #dcb179;
}
#product-info td {
    background-color: antiquewhite;
}
#product-info td:hover {
    background-color: blanchedalmond;
    text-decoration: underline;
}

#product-info th,
#product-info td{
    border: 2px solid black;
}

a:link{
    color: #009100;
}
a:hover{
    font-weight: bold;
}
a:active{
    font-weight: revert;
}
a:visited{
    color: lime;
}