:root {
    --bg-color: #134074;
    --bg-color-secondary: #13315C;
    --bg-color-header: #0B2545;
    --text-color-main: #EEF4ED;
    --accent-color: #8DA9C4;
}

body {
    background-color: var(--bg-color);
    color: whitesmoke !important;
}

header {
    background-color: var(--bg-color-header);
    border: 1px solid transparent;
}

main {
    background-color: var(--bg-color-secondary);
    min-height: 80vh;
}

#map-container {
    background-color: var(--accent-color);
    position: relative;
}

#map {
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: 25px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
}